@import "default";

/* Header */
.header{
  position: absolute;
  width: 100%;
  height: 160px;
}
.header_container{
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}
.header_logo_place{
  width: 20%;
  .logo_square{
    width: 150px;
    height: 100%;
    background: $yellow;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}
.nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_link{
  margin-right: 15px;
  font-size: 14px;
  font-family: 'MuseoModerno', serif;
  text-transform: uppercase;

}
.nav_link:last-child{
  margin-right: 0;
}

/*=== Styles for mobile header ===*/
.mobile_menu_place {
  width: 40px;
  height: 30px;
  justify-content: center;
  flex-direction: column;
  padding: 0 8px;
  cursor: pointer;
  z-index: 999;
  display: flex;
  margin-left: 50px;
  span {
    margin-top: 5px;
    width: 100%;
    background: #FFFFFF;
    height: 2px;
    border-radius: 5px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    opacity: 1;
  }
}

.mobile_menu_place span:first-child {
  margin-top: 0;
}

.mobile_menu_place._active span:nth-child(2n) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  background: #db152c;
  height: 3px;
  margin-top: -5px;
}

.mobile_menu_place._active span:first-child {
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;

}

.mobile_menu_place._active span:last-child {
  background: #db152c;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  margin-top: -3px;
  height: 3px;
}
.header_phone_place{
  margin-left: 80px;
}
.yellow_btn{
  border-radius: 10px;
  background: $yellow;
  padding: 15px 5px;
  text-align: center;
  color: #111111;
  font-weight: bold;
}
.yellow_rectangle{
  background: $yellow;
  width: 200px;
  height: 35px;
}
.heading{
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
}

/* Main section */
.main_section{
  height: 100vh;
  width: 100%;
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}
.main_section__social{
  width: 10%;
  float: right;
}

.main_section__slider{
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 100%;
  z-index: -1;
  .slider_background{
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
  }
  .slider_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }
}

/* Technology section */
.technology_section{
  height: 100vh;
  padding: 15% 0;
}
.technology_section__data{
  position: relative;
  width: calc(100% - 200px);
  display: flex;
  justify-content: center;
  height: 100%;
  .yellow_rectangle{
    position: absolute;
    right:0;
    bottom:0;
  }
  .yellow_rectangle:first-child{
    left:0;
    top:0;
  }
}
.black_line{
  width: 100%;
  height: 25px;
  margin-top: 20px;
  background: #000000;
}
.technology_item_place{
  display: flex;
  flex-wrap: wrap;
}
.technology_item{
  width: 25%;
  height: 300px;
  border: 1px solid #FFC432;
}

